<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Web Application Security</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>Forgot Password</h1>
        <form th:action="@{/sendResetPasswordURL}" method="post">
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <input id="email" type="email" th:placeholder="|Insert email address|" class="form-control"/>
                    <input type="submit" class="col-sm-5 btn btn-lg btn-primary" value="Send" disabled="true"/>
                </div>
            </div>
            <h3>A reset URL was send to the specified email. Please check the inbox</h3>
        </form>
    </div>

</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>